.button-general {
    font-size: 1.25em;
    height: 80px;
}
.button-operators {
    font-size: 1.25em;
    /* width: 60px; */
    height: 64px;
}


.calc-input {
    font-size: 4em;
    align-items: center;
    margin: 0;
}

* {
    font-family: 'Space Grotesk', sans-serif;
}